body {
    margin: 0;
    background: rgb(39, 39, 37);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: rgb(253, 253, 253);
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5,h6 {
    margin: 0;
}


                /*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

                /*Intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 
    height: 100vh;

    background:
    url("../Images/grey bg.jpg") center no-repeat;
    -webkit-backgraund-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}


.intro__title {
    color:rgb(107, 108, 109);
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}
.intro__title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: aliceblue;
}


.intro__suptitle {
    margin-bottom: 30px;
    color: rgb(216, 13, 13);
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    text-align: center;

}

                /*Header*/
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color:aliceblue;
}

                /*Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color:aliceblue;
    text-decoration: none;

    transition: color 0.2 linear;
}
.nav__link:after {
    content:"";
    display: block;
    width: 100%;
    height: 3px;

    background-color: aliceblue;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav__link:hover {
    color: brown;
}
.nav__link:hover:after{
    opacity: 1;
}

                /*Buttons*/

.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font: weight 700px;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.1s linear, color 0.1s linear;

}

.button:hover {
    background-color: aliceblue;
    color: black;


}               /*slider*/


.slider {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.slider__item {
    width: 24px;
    padding: 20px 0;

    border-top: 3px solid aliceblue;

    font: 18px;
    color: aliceblue;
    text-transform: uppercase;



}

.slider_num {
    font: 24px;
    font-weight: 700;
}